.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 100px;
  background: rgba(255, 255, 255, 0.4);
}

.loader {
  position: relative;
  width: 136px;
  height: 136px;

  .circle {
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
  }

  .outer {
    width: 100%;
    height: 100%;
    border-top-color: black;
    border-right-color: black;
    transform: rotate(37deg);
    animation: spin-outer 1s linear infinite;
  }

  .inner {
    width: 65%;
    height: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-21deg);
    border-top-color: $red;
    border-right-color: $red;
    animation: spin-inner 1300ms linear infinite;
  }

  @keyframes spin-outer {
    0% {
      transform: rotate(37deg);
    }
    100% {
      transform: rotate(397deg);
    }
  }

  @keyframes spin-inner {
    0% {
      transform: translate(-50%, -50%) rotate(339deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-21deg);
    }
  }
}
